{% extends "base.html.twig" %}

{% block title %}
Mes événements créés
{% endblock %}

{% block body %}
<h2>Mes événements créés</h2>

{% if events is empty %}
    <p>Vous n’avez créé aucun événement pour le moment.</p>
{% else %}
    <p>{{ events|length }} événement{{ events|length > 1 ? 's' : '' }} trouvé{{ events|length > 1 ? 's' : '' }}.</p>
    <ul>
        {% for event in events %}
            <li>
               <img src="{{ asset('uploads/avatars/' ~ event.imageEvent) }}" alt="{{ event.titleEvent }}" style="max-width:200px;">
                
                {{ event.titleEvent }} — {{ event.dateTimeEvent|date('d/m/Y H:i') }} <br>
                {{ event.category.nameCategory }} <br>
                {{ event.address.city }} <br>
                {{ event.descriptionEvent }} <br>
                {{ event.dateTimeEvent|date('d/m/Y H:i') }} <br>

                {{ event.nbxParticipant }}   / {{ event.nbxParticipantMax }} Participants

                


               
                
                <a href="{{ path('view_myevent', {id: event.id}) }}"> Voir </a>

                <a href="{{ path('editmyevent', {id: event.id}) }}">Modifier</a>
                <a href="{{ path('deletemyevent', {id: event.id}) }}" onclick="return confirm('Voulez-vous vraiment supprimer cet événement ?');">Supprimer</a>
                
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
