<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Web Event {% endblock %}</title>
        {% block stylesheets %}
            {# -- Ici CODE CSS #}
        {% endblock %}

        <script src="https://kit.fontawesome.com/b04d3e51a0.js" async></script>

        {# Lien vers app.css #}
        <link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}">


        {# POUR FAIRE LE RESPONSIVE #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        {#EXPORT GOOGLE FONT POLICE ECRITURE #}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">


        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>


    <body>

    {# Chargement de mon HEADER #}
    {% include 'partials/_header.html.twig' %}

    {# -- Dans body,  contenu de la page #}
        {% block body %}



        {% endblock %}

    {# Chargement de mon FOOTER #}
    {% include 'partials/_footer.html.twig' %}


  

    <script src="{{ asset('js/burger.js') }}"></script>



    </body>

    {#Affichage msg succès ou Erreur #}
    {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-message flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
    {% endfor %}


</html>
